<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="wl-4">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.12925 -0.17426 0.022868"
        rpy="0 0 0" />
      <mass
        value="2.2729" />
      <inertia
        ixx="0.008209"
        ixy="-7.9354E-09"
        ixz="4.8809E-08"
        iyy="0.0037619"
        iyz="8.3137E-06"
        izz="0.0099796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lf0_Link">
    <inertial>
      <origin
        xyz="0.027346 0.016396 0.082293"
        rpy="0 0 0" />
      <mass
        value="0.19709" />
      <inertia
        ixx="0.00043178"
        ixy="-3.3591E-11"
        ixz="3.5904E-16"
        iyy="0.00036101"
        iyz="-5.7511E-05"
        izz="7.6715E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/lf0_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/lf0_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf0_Joint"
    type="continuous">
    <origin
      xyz="-0.048289 -0.23 0.045"
      rpy="-1.1943 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="lf0_Link" />
    <axis
      xyz="1 0 0" />
    <dynamics damping="0" friction="0"/>
    <limit lower="-0.2182" upper="1.3479" effort="30" velocity="1000" />
  </joint>
  <link
    name="lf1_Link">
    <inertial>
      <origin
        xyz="-0.041518 -0.065148 -0.1016"
        rpy="0 0 0" />
      <mass
        value="0.26751" />
      <inertia
        ixx="0.001326"
        ixy="2.4795E-11"
        ixz="-2.2666E-11"
        iyy="0.00089536"
        iyz="-0.00050202"
        izz="0.00043549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/lf1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/lf1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lf1_Joint"
    type="continuous">
    <origin
      xyz="0 0.029484 0.14707"
      rpy="0.26553 0 3.1416" />
    <parent
      link="lf0_Link" />
    <child
      link="lf1_Link" />
    <axis
      xyz="1 0 0" />
    <dynamics damping="0" friction="0"/>
    <limit lower="-1" upper="1.25" effort="30" velocity="1000" />
  </joint>
  <link
    name="l_wheel_Link">
    <inertial>
      <origin
        xyz="0.035519 6.9089E-05 2.4823E-05"
        rpy="0 0 0" />
      <mass
        value="1.2715" />
      <inertia
        ixx="0.0068222"
        ixy="7.6507E-09"
        ixz="3.3124E-07"
        iyy="0.0035457"
        iyz="-1.2837E-06"
        izz="0.0035434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/l_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/l_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_wheel_Joint"
    type="continuous">
    <origin
      xyz="-0.046511 -0.12948 -0.20207"
      rpy="-0.10149 0 -3.1416" />
    <parent
      link="lf1_Link" />
    <child
      link="l_wheel_Link" />
    <axis
      xyz="1 0 0" />
    <dynamics damping="0" friction="0"/>
    <limit effort="5" velocity="1000" />
  </joint>
  <link
    name="rf0_Link">
    <inertial>
      <origin
        xyz="0.027346 0.016396 0.082293"
        rpy="0 0 0" />
      <mass
        value="0.19709" />
      <inertia
        ixx="0.00043178"
        ixy="-3.3591E-11"
        ixz="3.6175E-16"
        iyy="0.00036101"
        iyz="-5.7511E-05"
        izz="7.6715E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/rf0_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/rf0_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf0_Joint"
    type="continuous">
    <origin
      xyz="0.29829 -0.23 0.045"
      rpy="1.59 0 0" />
    <parent
      link="base_link" />
    <child
      link="rf0_Link" />
    <axis
      xyz="1 0 0" />
    <dynamics damping="0" friction="0"/>
    <limit lower="-0.2182" upper="1.3479" effort="30" velocity="1000" />
  </joint>
  <link
    name="rf1_Link">
    <inertial>
      <origin
        xyz="-0.041518 -0.065148 -0.1016"
        rpy="0 0 0" />
      <mass
        value="0.26751" />
      <inertia
        ixx="0.001326"
        ixy="2.4791E-11"
        ixz="-2.2667E-11"
        iyy="0.00089536"
        iyz="-0.00050202"
        izz="0.00043549" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/rf1_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/rf1_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rf1_Joint"
    type="continuous">
    <origin
      xyz="0 0.029484 0.14707"
      rpy="1.2699 0 -3.1416" />
    <parent
      link="rf0_Link" />
    <child
      link="rf1_Link" />
    <axis
      xyz="1 0 0" />
    <dynamics damping="0" friction="0"/>
    <limit lower="-1" upper="1.25" effort="30" velocity="1000" />
  </joint>
  <link
    name="r_wheel_Link">
    <inertial>
      <origin
        xyz="-5.9192E-05 4.3426E-05 0.029019"
        rpy="0 0 0" />
      <mass
        value="1.2715" />
      <inertia
        ixx="0.0035429"
        ixy="-6.0418E-07"
        ixz="-2.7897E-07"
        iyy="0.0035462"
        iyz="-1.7875E-07"
        izz="0.0068222" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/r_wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://wl-4/meshes/r_wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_wheel_Joint"
    type="continuous">
    <origin
      xyz="-0.053011 -0.12948 -0.20207"
      rpy="1.5708 0.32015 -1.5708" />
    <parent
      link="rf1_Link" />
    <child
      link="r_wheel_Link" />
    <axis
      xyz="0 0 -1" />
    <dynamics damping="0" friction="0"/>
    <limit effort="5" velocity="1000" />
  </joint>
</robot>